$border-radius:  0.3em;

$blue: #2E86C1;
$purple: #7D3C98;
$white: #FFF;
$gray1: #EBEBEB;
$gray2: #BBB;
$black1: #2C3E50;

// A map containing the colors of a variant. The colors are in the order
// background-color, font-color
$btn-colors: (
  "blue": $blue $white,
  "purple": $purple $white,
  "dark": $black1 $white,
  "inactive": $gray1 $gray2,
);

// Button size map to font-size
$btn-sizes: ("s": 0.85rem, "m": 1rem, "l": 1.2rem);

.btn {
  text-align: center;
  cursor:     pointer;
}

.btn-round {
  border-radius: $border-radius;
}


@each $name, $colors in $btn-colors {
  .btn-#{$name} {
    background-color: nth($colors, 1);
    color: nth($colors, 2);

    &:hover {
      background-color: lighten(nth($colors, 1), 4%);
    }
  }
}

.btn-menu {
  font-size: map-get($btn-sizes, "m");
  padding: 1em 1.5em;
}

@each $name, $font-size in $btn-sizes {

  $size-em: ($font-size / 1rem) * 1em;

  .btn-#{$name} {
    font-size: $font-size;
    padding: ($size-em - 0.2) ($size-em + 0.2);
  }
}
