@use 'scss/const';

.stripe {
  display: flex;
  flex-grow: 1;
  flex-direction: row;        // Row should be the default
  justify-content: center;    // Horizontal alignment
  align-items: center;        // Vertical alignment
}

.stripe-blue {
  background-color: const.$blue-2;
}

.stripe-green {
  background-color: const.$teal-2;
}

.stripe-yellow {
  background-color: const.$yellow-2;
}

.stripe-gray-1 {
  background-color: const.$gray-1;
}