#run-info {
  display: flex;
  justify-content: space-between;
  color: rgba(0, 40, 80, 0.7);
  background-color: #FFF;
  padding: 1em 1.25em 1em 0.5em;
  align-items: center;

  .stats {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    div {
      margin-left: 1.5em;
    }
  }

  .exit {
    font-size: 1.5em;
    padding: 0.5em;
    cursor: pointer;
  }
}