@use "scss/const.scss";

.ver {
  display: flex;
  flex-direction: column;

  .number {
    font-size: 9.5em;
    padding-top: 0.06em;
    padding-bottom: 0.06em;
    text-align: right;
  }

  .input {
    font-size: 9.5em;
    padding: 0;
    margin: 0;
    text-align: right;
    border: 1px dashed rgba(0, 0, 0, 0.5);
    border-radius: 5px;
  }
}