@font-face {
  font-family: BalsamiqSans;
  src: url(../fonts/BalsamiqSans-Regular.ttf);
}

@font-face {
  font-family: BalsamiqSans;
  src: url(../fonts/BalsamiqSans-Bold.ttf);
  font-weight: bold;
}

html, body {
  padding: 0;
  margin: 0;
  background-color: #fff;
  font-family: BalsamiqSans;
}

@media (max-width: 500px) {
  html, body {
    font-size: 14px;
  }
}

@media (max-width: 400px) {
  html, body {
    font-size: 12px;
  }
}

input[type="number"] {
  -moz-appearance: textfield;
}
input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input.abc {
  /*border: 0;*/
  /*outline: none;*/
  /*caret-color: transparent;*/
}

input.abc:focus {
  /*border: 0;*/
  outline: none;
}