#main-screen {
  display: flex;
  flex-direction: column;
  height: 100%;

  #title {
    // width: 100%;
    display: flex;
    justify-content: center;
    font-size: 6em;
    padding-top: 50px;
    padding-bottom: 50px;
    // border: 1px dashed black;
  }

  #settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f8f9fa;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  #ops {
    margin-bottom: 50px;
  }

  table {
    tr:first-child {
      .title {
        padding-top: 0;
      }

      .config {
        padding-top: 0;
      }
    }

    tr:last-child {
      .title {
        padding-bottom: 0;
      }

      .config {
        padding-bottom: 0;
      }
    }

    .title {
      padding-right: 1.2em;
      padding-top: 1em;
      padding-bottom: 1em;
    }

    .config {
      padding-top: 1em;
      padding-bottom: 1em;
    }
  }

  #finalize {
    padding-top: 50px;
    display: flex;
    justify-content: center;
  }

  .space {
    flex-grow: 1;
  }

  .footer {
    justify-self: flex-end;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #efefef;

    .content {
      display: flex;
      align-items: center;

      .words {
        margin: 0 0.25em;
        font-size: 0.9em;
      }

      .twitter {
        margin: 0 0.25em;
        font-size: 1.3em;
        a {
          color: #1fa1f2;
        }
      }
    }
  }
}